model:
  arch: timechat

  # vit encoder
  image_size: 224
  drop_path_rate: 0
  use_grad_checkpoint: False
  vit_precision: "fp16"
  freeze_vit: True
  freeze_qformer: True

  # Q-Former
  num_query_token: 32

  # llama-2
  llama_model: "ckpt/Video-LLaMA-2-7B-Finetuned/llama-2-7b-chat-hf/"

  # generation configs
  prompt: ""

preprocess:
    vis_processor:
        train:
          name: "alpro_video_train"
          image_size: 224
          n_frms: 8
        eval:
          name: "alpro_video_eval"
          image_size: 224
          n_frms: 8
    text_processor:
        train:
          name: "blip_caption"
        eval:
          name: "blip_caption"
    